<html>
	<head>
		<title>{{title}}</title>
	</head>

	<body>
		<h2>LocalTime: {{time}}</h2>
		<table border="1" cellpadding="1" cellspacing="1">
			<tbody>
				<tr>
					<td><a href="/speed/up">sp Up</a></td>
					<td><a href="/direction/forward">up</a></td>
					<td><a href="/speed/down">sp Down</a></td>
				</tr>
				<tr>
					<td><a href="/direction/left">left</a></td>
					<td><a href="/direction/stop">stop</a></td>
					<td><a href="/direction/right">right</a></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><a href="/direction/back">down</a></td>
					<td>&nbsp;</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
